body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  padding: 30px;
  background: none;
  border: 3px solid white;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.js-result {
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}
.reset {
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
}
